html, body{
	font-family: sans-serif;
	font-size: 18px;
	margin: 0;
	background-image: url(Light-Wood-Background.jpg);

}
.container{
	background-size: cover;
}
.logo {
	margin: 10px;
	width: 30%;
	text-align: left;
	float: left;
}
.Main-menu{
	display:block;
	width: 15%;
	text-align: left;
}
.Main-menu:after{
	content: "";
	display: block;
	font-size: 0;
	height: 0;
	clear: both;
}
.Menu-item{
	margin: 0.5px;
	background: #F65;
	border: 3px solid #254;
	border-radius: 20%;
	display: inline-block;
	font-size: 18px;
}
.Menu-item:hover {
	background: #f1fd;
}
.Menu_Menu-inner{
	display: none;
	position: absolute;
	padding: 0;
	margin: -22 127px;
}
.items{
	background: #f156;
	border: 3px solid yellow;
	border-radius: 20%;
	text-align: center;
	list-style-type: none;
}
.items:hover {
	background: #d2521b;
}
.Menu-links, .links{
	text-decoration: none;
}
.Menu-link{
	display: inline-block;
	padding: 5px 15px;
	background: #f96;
	color: black;
}
.Menu-item:hover > .Menu_Menu-inner {
	display: block;
}
.img{
	height: 150px;
	width: 150px;
}
